body {
    display:flex;
    flex-direction: column;
    min-height: 100vh
}

.button-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    width: 100%;
    max-width: 300px;
    border:none;
    border-radius: 8px;
    color: #fff;
    background-color: green;
    outline: none;
}

input:hover {
    filter:brightness(110%);
}

input:active {
    transform: translate(0,0.07rem);
}

.main-content {
    text-align: center;
    flex-grow:1;
}

footer {
    /* color: #888888; */
    /* border-top: 1px solid #eeeeee; */
    /* margin-top: 16px; */
    /* padding: 16px 0; */
}