body {
    background-color: rgb(197, 243, 233);
    text-align: center;
}

img {
    margin-top: 5vh;
    width: 35vw;
    max-width: 200px;
}

.log {
    margin: auto;
    padding: 4rem;
}

.content {
    display: none;
}

.center {
    margin: 0;
}

#main-view {
    width: 360px;
}

.login-button,
.eateregg-button {
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
    max-width: 335px;
    background-color: rgb(47, 48, 48);
    color: rgb(197, 243, 233);
    border-radius: 5px;
    margin-top: 10pt;
}