body {
  background-color: lightgray;
  text-align: center;
}

img {
  width: 20vw;
  max-width: 150px;
}

.log {
  margin: auto;
  padding: 5rem;
}

.content {
  display: none;
}

.center {
  margin: 0;
}
#videos {
  width: 360px;
  height: 200px;
  margin: 3rem;
}
#main-view {
  width: 360px;
}
.login-btn {
  width: 360px;
  width: 100%;
}
