body {
  background-color: lightgray;
  text-align: center;
}
img {
  width: 20vw;
  max-width: 150px;
}
.log {
  margin: auto;
  padding: 5rem;
}
.content {
  display: none;
}
.center {
  margin: 0;
}
