.beside {
    width: 50%;
    float: left;
    text-align: left;
}

#acceptedRequest {
    text-align: center;
    background-color: rgb(47, 48, 48);
    color: rgb(197, 243, 233);
    padding: 20px;
}

#postedRequest {
    text-align: center;
    background-color: rgb(197, 243, 233);
    padding: 20px;
}

h4 {
    color: rgba(0, 0, 0, 0);
    line-height: 5pt;
}

#requestAccept {
    background-color: rgb(47, 48, 48);
    min-height: 80vh;
    max-height: fit-content;
    padding-bottom: 5rem;
}

#requestPosted {
    background-color: rgb(197, 243, 233);
    min-height: 80vh;
    max-height: fit-content;
    padding-bottom: 5rem;
}

.acceptBoxes:hover {
    cursor: pointer;
    width: 93.5%;
}

.acceptBoxes {
    box-shadow: 0px 0px 3px 1px rgb(172, 172, 172);
    margin: 20pt auto 10pt auto;
    width: 90%;
    padding: 8pt;
    border-radius: 8pt;
    cursor: pointer;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request-number {
    font-size: 1.5rem;
    font-weight: bolder;
}

.schedule {
    margin-top: 5pt;
    color: rgb(182, 182, 182);
    font-style: italic;
    font-size: 0.8rem;
}

.postBoxes:hover {
    cursor: pointer;
    width: 93.5%;
}

.postBoxes {
    box-shadow: 0px 0px 3px 1px rgb(172, 172, 172);
    margin: 20pt auto 10pt auto;
    width: 90%;
    padding: 8pt;
    border-radius: 8pt;
    cursor: pointer;
    background-color: rgb(47, 48, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
}

.edit-button {
    cursor: pointer;
    height: 2.5rem;
    width: 5rem;
    background-color: lightgray;
    color: rgb(47, 48, 48);
    border-radius: 5px;
    display: block;
}

.done-button {
    cursor: pointer;
    height: 2.5rem;
    width: 5rem;
    background-color: rgb(47, 48, 48);
    color: rgb(197, 243, 233);
    border-radius: 5px;
    display: block;
    margin-bottom: 8pt;
}

.decline-button {
    background-color: rgba(31, 32, 32, 0);
    color: rgb(63, 5, 29);
    border-radius: 5px;
    height: 2.5rem;
    width: 5rem;
    display: block;
}

#username {
    text-align: center;
    color: rgb(65, 110, 103);
}