#body {
    padding-bottom: 70pt;
}

#page-content {
    width: 90%;
    margin: 0 auto;
    border: none;
}

#submit-button {
    cursor: pointer;
    height: 2.5rem;
    width: 25%;
    background-color: rgb(47, 48, 48);
    color: rgb(197, 243, 233);
    border-radius: 5px;
}

#message {
    width: 75%;
    height: 2.5rem;
}

#msg-submit {
    display: flex;
    justify-content: space-between;
}

.each-textbox {
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.text-content {
    background-color: rgb(47, 48, 48);
    color: lightgray;
    border-radius: 8px;
    padding: 8pt;
}

.time {
    font-style: italic;
}