@media screen and (max-width: 320px) {
    .right-textbox {
        text-align: right;
        margin-left: 50%
    }

    .left-textbox {
        text-align: left;
        margin-right: 50%
    }
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .right-textbox {
        text-align: right;
        margin-left: 70%
    }

    .left-textbox {
        text-align: left;
        margin-right: 70%
    }
}

@media screen and (min-width: 820px) and (max-width: 1200px) {
    .right-textbox {
        text-align: right;
        margin-left: 80%
    }

    .left-textbox {
        text-align: left;
        margin-right: 80%
    }
}

@media screen and (min-width: 1200px) {
    .right-textbox {
        text-align: right;
        margin-left: 90%
    }

    .left-textbox {
        text-align: left;
        margin-right: 90%
    }
}

#body {
    padding-bottom: 70pt;
}

#page-content {
    width: 90%;
    margin: 0 auto;
    border: none;
}

#submit-button {
    cursor: pointer;
    height: 2.5rem;
    width: 25%;
    background-color: rgb(47, 48, 48);
    color: rgb(197, 243, 233);
    border-radius: 5px;
}

#message {
    width: 75%;
    height: 2.5rem;
}

#msg-submit {
    display: flex;
    justify-content: space-between;
}

.each-textbox {
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.text-content {
    background-color: rgb(47, 48, 48);
    color: lightgray;
    border-radius: 8px;
    padding: 8pt;
}

.time {
    font-style: italic;
}