#body {
    padding-bottom: 50pt;
}

#info-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50pt;
    padding-top: 20pt;
}

#requester-wrapper {
    margin: 10pt auto;
}

#list-wrapper {
    margin: 10pt auto;
}

#photo-wrapper {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    padding: 10pt auto;
}

#photo-wrapper img {
    width: 100%;
}

#info-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#title {
    font-size: 2em;
    font-weight: bolder;
    margin: 10pt auto 10pt auto;
}

#chat-icon {
    display: flex;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

#chat-icon span {
    align-self: flex-end;
}

#accept-button1,
#accept-button2 {
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
    max-width: 100px;
    background-color: rgb(47, 48, 48);
    color: rgb(197, 243, 233);
    border-radius: 5px;
}

#cancel-button {
    background-color: rgba(31, 32, 32, 0);
    color: rgb(63, 5, 29);
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
    max-width: 100px;
    border-radius: 5px;
}

#schedule-label {
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

#popup div {
    width: 90%;
    margin: 20pt auto;
}

#popup label {
    width: 25%;
}

#popup input {
    width: 70%;
}

#button-wrapper {
    margin-top: 15pt;
    display: flex;
    justify-content: space-evenly;
}

#popup {
    min-width: 150px;
    width: 80%;
    max-width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* adding scale(0) after the translate will make it disappear */
    border: 1px solid black;
    padding: 15px;
    z-index: 10;
    background-color: white;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}