@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
body {
  background-color: rgb(197, 243, 233);
  font-family: "Raleway", sans-serif;
}
canvas {
  display: block;
  margin: 5rem auto;
  margin-top: 0;
  margin-bottom: 0;
}
input {
  width: 100%;
  max-width: 200px;
  height: 90px;
}
.button-pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 600px;
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 10px;
  width: 80%;
  max-width: 350px;
}
.btn-up {
  grid-row: 1 / 2;
  grid-column: 2/ 3;
}
.btn-right {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.btn-down {
  grid-row: 3 / 4;
  grid-column: 2/ 3;
}
.btn-left {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
h1,
h4 {
  text-align: center;
}
.reload {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -230%);
}
