#body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(197, 243, 233);
}

#top-navbar {
    position: sticky;
    top: 0;
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#bot-navbar {
    display: flex;
    justify-content: space-between;
}

#bot-navbar button {
    width: 33.33%;
    height: 3.5rem;
    background-color: rgb(47, 48, 48);
    color: rgb(197, 243, 233);
}

#request:hover {
    color: black;
    background-color: lightgray;
}

#home:hover {
    color: black;
    background-color: lightgray;
}

#profile:hover {
    color: black;
    background-color: lightgray;
}

#setting:hover {
    color: black;
    background-color: lightgray;
}